.ant-table-thead .ant-table-cell {
    font-weight: 800;
    font-size: 16px;
}

tr.drop-over-downward td {
    border-bottom: 2px dashed #1890ff;
}

tr.drop-over-upward td {
    border-top: 2px dashed #1890ff;
}