<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmj.api.mapper.UserRoleMapper">
    <select id="getList" resultType="UserRole">
        SELECT
            tur.*,
            tr.NAME
        FROM
            t_user_role tur
                LEFT JOIN t_role tr ON tr.id = tur.role_id
                LEFT JOIN t_user tu ON tu.id = tur.user_id
        WHERE
            tu.id =#{userId}
    </select>
</mapper>
