<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmj.api.mapper.UserMapper">
    <select id="findUserByAccount" resultType="User">
        select tu.*,
               tr.id roleId,
               tr.name roleName
        from t_user tu
                 left join t_user_role tur on tur.user_id = tu.id
                 left join t_role tr on tr.id = tur.role_id
        where account = #{account}
    </select>
</mapper>
